<main class="main">
  <app-receipt-printer [widthInMm]="80">
    <app-receipt-br></app-receipt-br>
    <app-receipt-text [bold]="true" [font_size]="18" align="center">
      Dejavu Technologies Limited
    </app-receipt-text>
    <app-receipt-text [font_size]="16" align="center">
      P.O BOX 12580 - NAIROBI
    </app-receipt-text>
    <app-receipt-text [font_size]="16" align="center"> KENYA </app-receipt-text>
    <app-receipt-br></app-receipt-br>
    <app-receipt-line></app-receipt-line>
    <app-receipt-br></app-receipt-br>
    <app-receipt-row
      [left]="'Receipt No:'"
      [right]="'DJV3436767434'"
    ></app-receipt-row>
    <app-receipt-row [left]="'Date:'" [right]="'2024-02-20'"></app-receipt-row>
    <app-receipt-row
      [left]="'Payment Mode:'"
      [right]="'BANK REMITTANCE'"
    ></app-receipt-row>
    <app-receipt-br></app-receipt-br>
    <app-receipt-text align="left"> Bill to: </app-receipt-text>
    <app-receipt-text align="left"> Lilian Mucheru </app-receipt-text>
    <app-receipt-text align="left"> TEL: 11938318 </app-receipt-text>
    <app-receipt-text align="left"> NAIROBI </app-receipt-text>
    <app-receipt-br></app-receipt-br>
    <app-receipt-line></app-receipt-line>
    <app-receipt-br></app-receipt-br>
    <app-receipt-text [font_size]="16" align="center">
      SALES RECEIPT
    </app-receipt-text>
    <app-receipt-br></app-receipt-br>
    <app-receipt-line></app-receipt-line>
    <app-receipt-br></app-receipt-br>
    <app-receipt-table
      [headers]="tableHeaders"
      [items]="tableItems"
    ></app-receipt-table>
    <app-receipt-br></app-receipt-br>
    <app-receipt-line></app-receipt-line>
    <app-receipt-br></app-receipt-br>

    <app-receipt-row
      [left]="'Subtotal:'"
      [right]="'80,9000.00'"
    ></app-receipt-row>
    <app-receipt-row
      [left]="'Tax (16%):'"
      [right]="'4, 500.00'"
    ></app-receipt-row>
    <app-receipt-br></app-receipt-br>
    <app-receipt-line></app-receipt-line>
    <app-receipt-br></app-receipt-br>
    <app-receipt-row [left]="'Total:'" [right]="'85, 400.00'"></app-receipt-row>
    <app-receipt-br></app-receipt-br>
    <app-receipt-line></app-receipt-line>
    <app-receipt-br></app-receipt-br>
    <app-receipt-text [font_size]="16" align="center">
      Payment Method: BANK REMITTANCE
    </app-receipt-text>
    <app-receipt-br></app-receipt-br>
    <app-receipt-text [font_size]="16" align="center">
      Thank you for your purchase
    </app-receipt-text>
    <app-receipt-br></app-receipt-br>
    <app-receipt-line></app-receipt-line>
    <app-receipt-br></app-receipt-br>
    <app-receipt-text [font_size]="16" align="center">
      Goods once sold cannont be reaccepted<br />
      Thank you for your business!<br />
      visit us again!
    </app-receipt-text>
    <app-receipt-br></app-receipt-br>
    <app-receipt-line></app-receipt-line>
    <app-receipt-br></app-receipt-br>
  </app-receipt-printer>
  <br />
  <button
    [useExistingCss]="true"
    printSectionId="print-section"
    [openNewTab]="true"
    ngxPrint
  >
    Print
  </button>
</main>
<router-outlet />
